.header-about {
    background-color: var(--white);
    background-image: url('./img/header-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1px;
    min-height: 70vh;
    width: 100vw;
    overflow: hidden;
}

.header-about img {
    margin-bottom: -5rem;
}

@media screen and (max-width: 1199px) {
    .header-about {
        min-height: 70vh;
        background-image: url('./img/header-bg.svg');
    }
}

@media screen and (max-width: 759px) {
    .header-about {
        min-height: 92vh;
        background-image: url('./img/header-sm-bg.svg');
    }
}

@media screen and (max-width: 575px) {
    .header-about {
        min-height: 76vh;
        background-image: url('./img/header-sm-bg.svg');


    }
}




.about {
    background-color: var(--white);
}

.about img {
    width: 100%;
    height: auto;
}

.quote-about {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}



.gradient {
    background: linear-gradient(to left, #CBC3FA, #71D9CE);
    background: -webkit-linear-gradient(to left, #CBC3FA, #71D9CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.join-us-about {
    background-color: var(--lavender);
}

.join-us-about .w-100	{
    background-color: var(--white) !important;
}

.join-us-about .w-100 img {
    margin-bottom: -6px;
}

.join-us-about img {
    width: 100%;
}

.footer-about {
    background-color: var(--lavender);
}
