.header-about {
    background-color: var(--purple);
    margin-top: -1px;
    width: 100vw;
    overflow: hidden;
}

.btm {
    width: 106vw !important;

}

.about {
    background-color: var(--white);
}

.about img {
    width: 100%;
    height: auto;
}

.quote-about {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.gradient {
    background: linear-gradient(to left, #CBC3FA, #71D9CE);
    background: -webkit-linear-gradient(to left, #CBC3FA, #71D9CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.join-us-about {
    background-color: var(--lavender);
}

.join-us-about .w-100	{
    background-color: var(--white) !important;
}

.join-us-about .w-100 img {
    margin-bottom: -6px;
}

.join-us-about img {
    width: 100%;
}

.footer-about {
    background-color: var(--lavender);
}
